<%- include('../template/head')-%>

<body>
    <div>
        <%- include('../template/nav')-%>
        <main>
            <h1>MasterEJS</h1>
            <p>This is a sample app to Master EJS view template engine with Expressjs and Node.js framework
            </p>
            <p>
                <a href="https://medium.com/@pkoulianos/master-ejs-template-engine-with-node-js-and-expressjs">Read More At Medium</a>
            </p>
        </main>
        <%- include('../template/footer')-%>
    </div>
</body>

</html>