<header>
    <div >
        <h3>MasterEJS</h3>
        <nav>
            <a id='home' class="nav-link" href="/">Home</a>
            <a id='links' class="nav-link" href="/links">Links</a>
            <a id='list' class="nav-link" href="/list">List</a>
            <a id='table' class="nav-link" href="/table">Table</a>
            <a id='form' class="nav-link" href="/form">Form</a>
        </nav>
    </div>
</header>